<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar class="ion-no-border" color="primary">
    <ion-title>novo cântico</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-favorites-modalh" expand="block" color="danger">
        <ion-icon slot="icon-only" [name]="modalFavorites.isCmpOpen ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <ion-toolbar color="primary" class="ion-no-border grid-searchkeys">
    <ion-grid>
      <ion-row class="searchkeys">
        <ng-container *ngIf="hinosStorage && hinosStorage.searchFilter.length">
          <ion-col class="ion-no-padding" *ngFor="let keyword of hinosStorage.searchFilter; index as i" size="auto">
            <ion-chip
              (click)="searchFilter(keyword.name, i)" class="ion-no-margin-top"
              button [color]="keyword.active ? 'secondary' : 'light'" [outline]="true">
                {{ keyword.name }}
            </ion-chip>
          </ion-col>
        </ng-container>

        <ion-col class="add-new-filter">
          <ion-chip
            id="open-newFilter-dialogh" expand="block"
            button color="light" [outline]="false">
              <ion-icon color="light" [name]="popoverFilters.isCmpOpen ? 'funnel' : 'funnel-outline'"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <ion-searchbar
    placeholder="procurar hino"
    animated="true"
    show-clear-button="always" 
    mode="ios"
    [debounce]="500"
    [(ngModel)]="searchBarTerm"
    (ionClear)="clearSearch()"
    (ionCancel)="clearSearch()"
    (ionInput)="searchBar($event)">
  </ion-searchbar>

  <ng-container *ngIf="hinosSearch$ | async; else noHino">
    <ion-item lines="none">
      <ion-label color="primary" slot="start" class="ion-no-padding">
        {{ (hinosSearch$ | async)?.length + ' encontrado'}}{{ ((hinosSearch$ | async)?.length === 1) ? ''  : 's' }}
      </ion-label>
      <ion-button fill="clear" (click)="clearSearch()" slot="end">
        <ion-icon size="small" name="trash-outline" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-item>

    <cdk-virtual-scroll-viewport appendOnly itemSize="100">
      <ion-item-sliding
          *cdkVirtualFor="let hino of hinosSearch$ | async"
          style="
            border-right: 5px solid var(--ion-color-success);
            border-radius: 10px;
          "
          button
          (ionDrag)="addInArrayStorage('favorites', hino, 'numero', $event)"
          (click)="selected(hino)">
  
        <ion-item
          lines="inset"
          detail="true"
          detail-icon="add-outline">
          <ion-chip slot="start" color="success" [outline]="true">{{ hino.numero }}</ion-chip>
          <ion-label>
            <ion-note class="ion-font-smaller">{{hino.tematica + " ・ " + hino.assunto}}</ion-note>
            <ion-text color="primary"><h2>{{ hino.titulo }}</h2></ion-text>
            <ion-note>{{ hino.autor }}</ion-note>
          </ion-label>
        </ion-item>
  
        <ion-item-options side="end">
          <ion-item-option color="success" expandable>
            <ion-text color="light">favoritar</ion-text>
            <ion-icon size="large" slot="end" color="light" name="heart-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </cdk-virtual-scroll-viewport>
  </ng-container>

  <ng-template #noHino>
    <ion-grid class="message-logo">
      <ng-container *ngIf="hinosStorage && hinosStorage.recents.length">
        <ion-row class="title-recentes">
          <ion-col>
            <ion-note class="ion-padding ion-font-small" color="primary">últimos visualizados</ion-note>
          </ion-col>
        </ion-row>
        <ion-row class="recentes">
          <ion-col *ngFor="let hino of hinosStorage.recents">
            <ion-chip
              (click)="selected(hino)"
              button color="primary" [outline]="false">
                {{ hino.numero }}
            </ion-chip>
          </ion-col>
        </ion-row>
      </ng-container>

      <ion-row class="ion-padding">
        <ion-col>
          <ion-img src="../../../assets/logo_lazy.png" alt="logo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-text color="medium-tint">
            <small>procure pelo <b>número</b>, <b>título</b> ou <b>letra</b> do hino.</small>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-indice-modalh" expand="block" color="tertiary">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- modais -->
<!-- <ion-popover #popoverFilters trigger="open-newFilter-dialogh" mode="ios"  class="popover-filter">
  <ng-template>
    <ion-header class="ion-no-border" mode="ios">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button size="small" fill="clear" (click)="popoverFilters.dismiss()">
            <ion-icon name="arrow-back-outline" slot="icon-only" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title color="primary">palavras chaves</ion-title>
        <ion-buttons slot="end">
          <ion-button size="small" fill="clear" (click)="removeAllInArrayStorage('searchFilter')">
            <ion-icon name="trash-outline" slot="icon-only" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="light">
        <ion-searchbar
          #ionInputEl
          class="custom"
          color="primary-contrast"
          search-icon="add-circle-outline"
          clear-icon="close-circle-outline"
          placeholder="adicionar novo filtro"
          animated="true"
          autocomplete="on"
          autocorrect="on"
          autocapitalize="on"
          [spellcheck]="true"
          [inputmode]="'text'"
          [enterkeyhint]="'enter'"
          [debounce]="2500"
          [(ngModel)]="keyWordsName"
          (ionChange)="addInSearchFilter()"
          (ionInput)="onInputSearchFilter($event)"
          (keyup.enter)="addInSearchFilter()"
          (keydown.enter)="addInSearchFilter()">
        </ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ng-container *ngIf="hinosStorage && hinosStorage.searchFilter.length; else noKeys">
        <ion-list
          class="ion-padding">
          <ion-item-sliding
            *ngFor="let keyword of hinosStorage.searchFilter"
            (ionDrag)="removeInArrayStorage('searchFilter', keyword, 'name', $event)">

            <ion-item
              style="
                border-right: 5px solid var(--ion-color-danger);
                border-radius: 10px;
              "
              lines="full"
              detail="true"
              detail-icon="add-outline">
              <ion-text>{{ keyword.name }}</ion-text>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" expandable>
                <ion-text color="light">apagar</ion-text>
                <ion-icon slot="icon-only" color="light" name="trash-bin-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ng-container>

      <ng-template #noKeys>
        <ion-grid class="message-logo">
          <ion-row class="ion-padding">
            <ion-col>
              <ion-img src="../../../assets/filter.svg" alt="logo"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding">
            <ion-col>
              <ion-text color="medium" class="ion-font-small">
                adicione um novo filtro com <br><b>palavras chaves</b>, <b>títulos</b> ou <b>frases</b> do hino.
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ion-content>
  </ng-template>
</ion-popover> -->


<ion-modal #modalDetails [isOpen]="isOpenDetailsModal">
  <ng-template>
    <ion-header [translucent]="false" class="ion-no-border" mode="ios">
      <ion-toolbar color="primary" style="--min-height: 60px;">
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="modalDetails.dismiss(); isOpenDetailsModal = false">
            <ion-icon slot="icon-only" name="arrow-back-outline" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title color="light">{{ hino.numero + ' ∙ ' + hino.titulo }}</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="changeBackgroundDarkColor()">
            <ion-icon
              slot="icon-only"
              [name]="this.hinosStorage.formatacao.backgrond ? 'sunny' : 'moon'"
              [color]="this.hinosStorage.formatacao.backgrond ? 'warning' : 'light'"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="presentActionSheet(hino)">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="primary-contrast" class="toolbar-fab">
        <ion-title size="small">
          <ion-note>{{hino.autor}}</ion-note>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="ion-padding" [color]="this.hinosStorage.formatacao.backgrond ? 'dark' : 'light'">
      <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
        <ion-fab-button size="small" color="danger" id="open-zoom-dialogh" expand="block">
          <ion-icon size="small"  name="brush-outline" color="light"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-text class="hino-letra" [innerText]="hino.letra"></ion-text>
    </ion-content>

    <ion-popover trigger="open-zoom-dialogh" mode="ios" translucent="true">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label class="ion-font-small" color="primary">Fonte</ion-label>
              </ion-col>
              <ion-col size="auto">
                <ion-label class="ion-font-small" color="secondary">{{ hinosStorage.formatacao.fonte }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="fontes">
              <ion-col *ngFor="let font of arrayFonts">
                <ion-chip
                  class="font-picker ion-align-items-start ion-no-margin"
                  [color]="hinosStorage.formatacao.fonte === font.value ? 'primary' : 'light'"
                  button
                  (click)="changeFontFamily(font.value)">
                  <ion-text color="secondary" class="ion-font-small ion-margin-bottom">{{ font.title }}</ion-text>
                  <ion-text color="dark" class="ion-no-padding ion-font-smaller" [style.font-family]="font.value">Novo Cântico</ion-text>
                </ion-chip>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-chip color="light" class="font-weight-picker" (click)="changeFontWeight();">
                  <ion-text color="dark" [style.font-weight]="hinosStorage.formatacao.weight ? 'bold' : 'normal'">Negrito</ion-text>
                </ion-chip>
              </ion-col>
              <ion-col size="4">
                <ion-chip color="light" class="font-weight-picker" (click)="changeFontStyle()">
                  <ion-text color="dark" [style.font-style]="hinosStorage.formatacao.style ? 'italic' : 'normal'">Itálico</ion-text>
                </ion-chip>
              </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
              <ion-col>
                <ion-label class="ion-font-small" color="primary">Tamanho da Fonte</ion-label>
              </ion-col>
              <ion-col size="auto">
                <ion-label class="ion-font-small" color="secondary">{{ hinosStorage.formatacao.tamanhoFonte }}px</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-range mode="md" class="ion-no-padding"
                  (ionKnobMoveStart)="zooming($event)"
                  (ionKnobMoveEnd)="zooming($event)"
                  [min]="10" [max]="40"
                  [value]="hinosStorage.formatacao.tamanhoFonte"
                  [pin]="true"
                  [snaps]="true"
                  [pinFormatter]="pinFormatter">
                  <ion-icon slot="start" size="small" color="secondary" name="text-outline"></ion-icon>
                  <ion-icon slot="end"  color="primary" name="text-outline"></ion-icon>
                </ion-range>
              </ion-col>
            </ion-row>

            <ion-row class="ion-margin-top">
              <ion-col>
                <ion-label class="ion-font-small" color="primary">Cor da Fonte</ion-label>
              </ion-col>
              <ion-col size="auto">
                <ion-icon size="small" color="primary" name="color-palette-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="colors">
              <ion-col *ngFor="let color of arrayColors">
                <div button
                  (click)="changeColor(color)"
                  class="color-picker {{ hinosStorage.formatacao.corFonte === color ? 'active' : '' }}"
                  [style.background-color]="color">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ng-template>
</ion-modal>

<ion-modal #modalFavorites
  trigger="open-favorites-modalh"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  handleBehavior="cycle">

  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-title>Favoritos</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [scrollY]="false">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Favoritos</ion-title>
        </ion-toolbar>
      </ion-header>

      <ng-container *ngIf="hinosStorage && hinosStorage.favorites.length; else noFavoritos">
        <cdk-virtual-scroll-viewport appendOnly itemSize="100">
          <ion-item-sliding
            *cdkVirtualFor="let hino of hinosStorage.favorites"
            (ionDrag)="removeInArrayStorage('favorites', hino, 'numero', $event)"
            (click)="selected(hino)">
  
            <ion-item
              style="
                border-right: 5px solid var(--ion-color-danger);
                border-radius: 10px;
              "
              lines="inset"
              detail="true"
              detail-icon="add-outline">
  
              <ion-chip
                slot="start"
                color="success"
                [outline]="true">
                  {{ hino.numero }}
              </ion-chip>
  
              <ion-label>
                <ion-note class="ion-font-smaller">{{hino.tematica + " ・ " + hino.assunto}}</ion-note>
                <ion-text color="primary"><h2>{{ hino.titulo }}</h2></ion-text>
                <ion-note>{{ hino.autor }}</ion-note>
              </ion-label>
            </ion-item>
  
            <ion-item-options side="end">
              <ion-item-option color="danger" expandable>
                <ion-text color="light">desfavoritar</ion-text>
                <ion-icon size="large" slot="end" color="light" name="heart-dislike-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </cdk-virtual-scroll-viewport>
      </ng-container>

      <ng-template #noFavoritos>
        <ion-grid class="message-logo">
          <ion-row class="ion-padding">
            <ion-col>
              <ion-img class="no-img" src="../../../assets/eading_time.svg" alt="logo"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding">
            <ion-col>
              <ion-text color="medium-tint" class="ion-font-small">
                <small>ainda não foram adicionados hinos aos favoritos</small>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>

    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modalPDF [isOpen]="isOpenPartituraPDFModal">
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-title color="primary">Partitura</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="modalPDF.dismiss(); isOpenPartituraPDFModal = false">
              <ion-icon slot="icon-only" name="close-outline" color="primary"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <pdf-viewer
        [src]="partitura"
        [external-link-target]="'blank'"
        [render-text]="true"
        [autoresize]="true"
        [show-all]="true"
        [original-size]="false">
      </pdf-viewer>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modalIndice class="modal-indice" trigger="open-indice-modalh">
  <ng-template>
    <ion-header class="ion-no-border" mode="ios">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button size="small" fill="clear" (click)="modalIndice.dismiss()">
            <ion-icon name="arrow-back-outline" slot="icon-only" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title color="primary">Temáticas e Assuntos</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="ion-padding">
      <ion-accordion-group>
        <ion-accordion *ngFor="let tematica of tematicas" [value]="tematica.title">
          <ion-item slot="header" color="light">
            <ion-label color="primary">
              <h2>{{ tematica.title }}</h2>
              <ion-note>Total de {{ tematica.quantity === 1 ? 'apenas' : '' }} <ion-text color="tertiary">{{ tematica.quantity }}</ion-text> {{ tematica.quantity === 1 ? 'hino o ' : tematica.quantity === 2 ? 'hinos': 'hinos do' }} {{ tematica.range }}</ion-note>
            </ion-label>
          </ion-item>
          <ion-item *ngFor="let assunto of tematica.assunto"
            class="ion-padding-start" button detail="true" slot="content" color="light"
            (click)="searchFilterTematicaAndAssunto(assunto.title); modalIndice.dismiss()">
            <ion-label color="secondary">
              <p>{{ assunto.title }}</p>
              <ion-note>Total de {{ assunto.quantity === 1 ? 'apenas' : '' }} <ion-text color="tertiary">{{ assunto.quantity }}</ion-text> {{ assunto.quantity === 1 ? 'hino o ' : assunto.quantity === 2 ? 'hinos': 'hinos do' }} {{ assunto.range }}</ion-note>
            </ion-label>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
    </ion-content>

    <ion-footer class="ion-no-border" mode="ios">
      <ion-toolbar class="ion-text-center">
        <ion-note>Hinário Novo Cântico</ion-note>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>