:root {
  --letra-font-size: 12px;
  --letra-line-height: 14px;
  --letra-color: var(--ion-color-primary);
  --letra-font-family: var(--ion-default-font);
  --letra-font-weight: normal;
  --letra-font-style: normal;
}

ion-content cdk-virtual-scroll-viewport ion-item ion-chip {
  width: 50px;
  justify-content: center;
  margin-left: 0;
  margin-right: 10px;
}

ion-content cdk-virtual-scroll-viewport ion-item ion-label p {
  font-size: small !important;
  line-height: small !important;
}

ion-content cdk-virtual-scroll-viewport ion-item ion-label ion-note {
  font-size: small !important;
  line-height: small !important;
}

ion-content cdk-virtual-scroll-viewport h2 {
  font-size: large;
}

ion-toolbar {
  --border: none;
  --border-width: 0;
  --box-shadow: none;
}

ion-toolbar.grid-note {
  --min-height: 41px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  ion-note {
    padding-top: 5px;
    padding-bottom: 0;
    font-size: 12px;
  }
}

ion-searchbar.md.custom {
    // --box-shadow: none;
    --border-radius: 14px;
}

ion-searchbar.custom {
  padding-bottom: 0;
  height: 38px;
}

ion-toolbar.grid-recentes,
ion-toolbar.grid-searchkeys {
  ion-grid {
    padding-top: 0;
    padding-bottom: 0;

    ion-row {
      padding-top: 0;
      padding-bottom: 0;

      ion-chip {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

ion-toolbar.grid-recentes {
  height: 92px;
}

ion-toolbar.grid-searchkeys {
  height: 46px;
}

ion-row.searchkeys {
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--ion-color-secondary);
    border-radius: 9px;
  }

  ion-col.add-new-filter {
    ion-icon {
      margin: 0 10px;
    }
  }

  ion-thumbnail {
    width: 65px;
    height: 32px;
    --border-radius: 16px;
  }
}

ion-row.title-recentes {
  text-align: start;
  ion-note {
    padding: 5px 0 0;
  }
}

ion-row.fontes,
ion-row.recentes {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--ion-color-secondary);
    border-radius: 9px;
  }

  ion-chip, ion-thumbnail {
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    --border-radius: 100%;
    justify-content: center;
  }

  .font-picker {
    flex-direction: column;
    width: 140px;
    height: 90px;
    border-radius: 10px;
    border: 1px solid var(--ion-color-light);
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  }
}

.font-weight-picker {
  height: 35px;
  border-radius: 10px;
  border: 1px solid var(--ion-color-light);
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
}

ion-row.recentes {
  ion-col {
    max-width: 78px;
  }
}
ion-row.colors {
  ion-col {
    max-width: 52px;
  }

  .color-picker {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  }

  .active {
    border: 4px solid var(--ion-color-medium);
  }
}

ion-grid.message-logo {
  
  ion-row {
    text-align: center;
    ion-img {
      width: 100px;
      margin: auto;
      filter: opacity(0.6);
    }

    .no-img {
      width: 250px;
      filter: opacity(1);
    }
  }
}

ion-modal.modal-indice,
ion-modal.modal-color {
  --width: fit-content;
  --height: fit-content;
  --border-radius: 10px;
  --box-shadow: 0 0px 38px rgba(0, 0, 0, 0.4);
}

ion-modal.modal-color {
  --border-radius: 0;
  --min-width: 230px;
}

ion-modal.modal-indice {
  --min-width: 96vw;
  --height: 85vh;
}

.hino-letra {
  font-family: var(--letra-font-family);
  font-size: var(--letra-font-size);
  line-height: var(--letra-line-height);
  color: var(--letra-color);
  text-align: justify;
  font-style: var(--letra-font-style);
  font-weight: var(--letra-font-weight);
}

pdf-viewer {
  height: 100%;
}

ion-popover {
  --min-width: 86vw;
}

.popover-filter {
  --min-width: 96vw;
  --max-height: 50vh;
}

.toolbar-fab {
  --min-height: 24px;
}
