ion-menu ion-header {
  ion-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  ion-toolbar {
    ion-list-header {
      font-size: 19px;
      padding: 0 10px;
      color: #fff;
    }

    ion-avatar {
      &.ios {
        margin-left: 8px;
      }

      &.md {
        margin-left: 8px;
        width: 48px;
        height: 48px;
      }
    }

    ion-list-header,
    ion-avatar {
      margin-top: 10px;
    }

    ion-note {
      color: #fff;
    }
  }
}

#inbox-list-tab,
#inbox-list-social {
  display: flex;
  justify-content: space-around;
}

#inbox-list-tab {
  padding: 10px 0;
}

#inbox-list-social {
  padding: 20px 0;
}

#inbox-list-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  z-index: 1;
  margin: 10px 0;

  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  small {
    font-size: 12px;
    color: #757575;
  }

  ion-icon {
    margin: 0 4px;
  }
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-top: 15px;
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding: 0 10px 15px 15px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 16px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 16px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#inbox-list ion-list-header {
  font-size: 16px;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding: 0 10px 15px 15px;
}

ion-menu.ios ion-note {
  margin-top: 8px;
  margin-bottom: 20px;
}

ion-note {
  display: inline-block;
  font-size: 12px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
