<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="novo-cantico">
        <ion-icon size="small" class="fa-brands fa-itunes-note"></ion-icon>
        Novo Cântico
      </ion-tab-button>
      <ion-tab-button tab="cancioneiro">
        <ion-icon size="small" class="fa-solid fa-guitar"></ion-icon>
        Cancioneiro
      </ion-tab-button>
      <ion-tab-button tab="inicio">
        <ion-icon size="small" class="fa-solid fa-church"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="pastoral">
        <ion-icon size="small" class="fa-solid fa-book-open"></ion-icon>
        Pastorais
      </ion-tab-button>
      <ion-tab-button tab="sobre">
        <ion-icon size="small" class="fa-solid fa-fingerprint"></ion-icon>
        Sobre
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
