ion-card {
  margin: 0;
  border: 1px solid var(--ion-color-cinza);
  box-shadow: none;
  border-radius: 10px;

  ion-card-header, ion-card-content {
    padding: .5rem;
  }

  ion-item {
    --min-height: 32px;

    ion-label {
      margin: 0;
    }
  }

  ion-card-title {
      margin: 0;
      font: 400 18px/32px 'Baskerville', serif;
  }

  ion-card-subtitle {
      margin: 0;
      font: 400 10px/14px 'Baskerville', serif;
  }
}

.tema {
  text-align: center;

  ion-note {
    color: #808080;
    font-style: italic;
    font-size: .7rem;
  }
}
.proposito {
  text-align: justify;

  ion-note {
    color: #808080;
    font-size: .7rem;
  }
}

ion-menu {
  --width: 85%;
}

.list-menu {
  background-color: transparent;
  ion-item {
    --border-radius: 1rem;
    margin: .2rem 0;

    ion-note {
      font-size: .8rem;
    }
  }
}