<ion-header [translucent]="false" class="ion-no-border">

  <ion-toolbar class="ion-no-border" color="secondary">

    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

    <ion-title color="light">cancioneiro</ion-title>

    <ion-buttons slot="end">
      <ion-button id="open-favorites-modal" expand="block" color="danger">
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar color="secondary" class="ion-no-border grid-search">
    <ion-searchbar
      class="custom"
      placeholder="procurar cântico"
      animated="true"
      [debounce]="1000"
      [(ngModel)]="searchBarTerm"
      (ionChange)="searchBar()">
    </ion-searchbar>
  </ion-toolbar>

  <ion-toolbar color="secondary" class="ion-no-border grid-searchkeys">
    <ion-grid>
      <ion-row class="searchkeys">
        <ng-container *ngIf="canticosStorage && canticosStorage.searchFilter.length; else noFilters">
          <ion-col *ngFor="let keyword of canticosStorage.searchFilter; index as i" size="auto">
            <ion-chip
              (click)="searchFilter(keyword.name, i)"
              button [color]="keyword.active ? 'primary' : 'light'" [outline]="true">
                {{ keyword.name }}
            </ion-chip>
          </ion-col>
        </ng-container>
        <ng-template #noFilters>
          <ion-col *ngFor="let item of [0, 1, 2]">
            <ion-thumbnail>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
              </ion-col>
        </ng-template>
        <ion-col class="add-new-filter">
          <ion-chip
            id="open-newFilter-dialog" expand="block"
            button color="light" [outline]="false">
              <ion-icon color="light" name="funnel-outline"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-toolbar color="secondary" class="ion-no-border grid-recentes">
    <ng-container *ngIf="canticosStorage && canticosStorage.recents.length; else noRecentes">
      <ion-grid>
        <ion-row class="title-recentes">
          <ion-note class="ion-padding" color="light">últimos visualizados</ion-note>
        </ion-row>
        <ion-row class="recentes">
          <ion-col *ngFor="let cantico of canticosStorage.recents">
            <ion-chip
              (click)="selected(cantico)"
              button color="light" [outline]="false">
                {{ cantico.numero }}
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-template #noRecentes>
      <ion-grid>
        <ion-row class="title-recentes">
          <ion-note class="ion-padding" color="light">últimos visualizados</ion-note>
        </ion-row>
        <ion-row class="recentes">
          <ion-col *ngFor="let item of [0, 1, 2, 3]">
            <ion-thumbnail>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ion-toolbar>

  <ion-toolbar color="secondary" class="ion-no-border grid-note">
    <ion-note color="light" slot="end" class="ion-padding" *ngIf="canticosSearch$ | async">
      {{ (canticosSearch$ | async)?.length + ' encontrado'}}{{ ((canticosSearch$ | async)?.length === 1) ? ''  : 's' }}
    </ion-note>
  </ion-toolbar>

  <svg
    class="ion-no-border"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320">
    <path
      fill="#4DA186"
      fill-opacity="1"
      d="M0,32L30,53.3C60,75,120,117,180,117.3C240,117,300,75,360,74.7C420,75,480,117,540,154.7C600,192,660,224,720,234.7C780,245,840,235,900,218.7C960,203,1020,181,1080,181.3C1140,181,1200,203,1260,208C1320,213,1380,203,1410,197.3L1440,192L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z">
      </path>
  </svg>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="canticosSearch$ | async; else noCantico">
    <ion-virtual-scroll [items]="canticosSearch$ | async">
      <ion-item-sliding
          *virtualItem="let cantico"
          style="
            border-right: 5px solid var(--ion-color-success);
            border-radius: 14px;
            margin-bottom: 2px;
          "
          button
          (ionDrag)="addInArrayStorage('favorites', cantico, 'numero', $event)"
          (click)="selected(cantico)">

        <ion-item
          lines="inset"
          detail="true"
          detail-icon="add-outline">
          <ion-chip slot="start" color="success" [outline]="true">{{ cantico.numero }}</ion-chip>
          <ion-label>
            <h2>{{ cantico.titulo }}</h2>
            <div class="description"
              [innerHTML]="cantico.letra.slice(0, 60) + '...' | sanitizedHtml">
            </div>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="success" expandable>
            <ion-text color="light">favoritar</ion-text>
            <ion-icon size="large" slot="end" color="light" name="heart-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-virtual-scroll>
  </ng-container>

  <ng-template #noCantico>
    <ion-grid class="message-logo">
      <ion-row class="ion-padding">
        <img src="../../../assets/logo_lazy.png" alt="logo">
      </ion-row>
      <ion-row class="ion-padding">
        <ion-text color="medium">
          <small>procure pelo <b>número</b>, <b>título</b> ou <b>letra</b> do cântico.</small>
        </ion-text>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>



<!-- modais -->
<ion-modal #modalFilters trigger="open-newFilter-dialog">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar color="secondary">
        <ion-title slot="start" color="light">filtro de palavras</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalFilters.dismiss()">
            <ion-icon size="large" slot="end" color="light" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-toolbar color="secondary">
        <ion-searchbar
          #ionInputEl
          class="custom"
          color="light"
          search-icon="add-outline"
          clear-icon="trash-outline"
          placeholder="adicionar novo filtro"
          animated="true"
          autocomplete="on"
          autocorrect="on"
          autocapitalize="on"
          [spellcheck]="true"
          [inputmode]="'text'"
          [enterkeyhint]="'enter'"
          [debounce]="2000"
          [(ngModel)]="keyWordsName"
          (ionChange)="addInSearchFilter()"
          (ionInput)="onInputSearchFilter($event)"
          (keyup.enter)="addInSearchFilter()"
          (keydown.enter)="addInSearchFilter()">
        </ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ng-container *ngIf="canticosStorage && canticosStorage.searchFilter.length; else noKeys">
        <ion-list
          class="ion-padding">
          <ion-item-sliding
            *ngFor="let keyword of canticosStorage.searchFilter"
            (ionDrag)="removeInArrayStorage('searchFilter', keyword, 'name', $event)">

            <ion-item
              style="border-right: 5px solid var(--ion-color-danger)"
              lines="full"
              detail="true"
              detail-icon="add-outline">
              <ion-text>{{ keyword.name }}</ion-text>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" expandable>
                <ion-text color="light">apagar</ion-text>
                <ion-icon slot="icon-only" color="light" name="trash-bin-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ng-container>

      <ng-template #noKeys>
        <ion-grid class="message-logo">
          <ion-row class="ion-padding">
            <img src="../../../assets/filter.svg" alt="logo">
          </ion-row>
          <ion-row class="ion-padding">
            <ion-text color="medium">
              <small>adicione um novo filtro com <br><b>palavras chaves</b>, <b>títulos</b> ou <b>frases</b> do cântico.</small>
            </ion-text>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal #modalDetails [isOpen]="isOpenDetailsModal" class="dark">
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar color="secondary">
        <ion-title slot="start" color="light">{{ cantico.numero + ' ∙ ' + cantico.titulo }}</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="modalDetails.dismiss()">
            <ion-icon slot="icon-only" name="close-outline" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-button size="small" fill="clear" id="open-zoom-dialog" expand="block">
            <ion-icon slot="icon-only" name="text-outline" color="light"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear" id="open-color-dialog" expand="block">
            <ion-icon slot="icon-only" name="color-palette-outline" color="light"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear" (click)="clipboard(cantico)">
            <ion-icon slot="icon-only" name="copy-outline" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <!-- <ion-button size="small" fill="clear" (click)="changeBackground()">
            <ion-icon slot="icon-only" [name]="isDarkColor ? 'moon-outline' : 'sunny-outline'" color="light"></ion-icon>
          </ion-button> -->
          <ion-button size="small" fill="clear" (click)="share(cantico)">
            <ion-icon slot="icon-only" name="share-social" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="ion-padding">
      <ion-text class="cantico-letra" [innerText]="cantico.letra"></ion-text>
    </ion-content>

    <ion-modal id="modal-zoom" trigger="open-zoom-dialog">
      <ng-template>
        <ion-text color="secondary">tamanho da fonte</ion-text>
        <ion-range
          (ionKnobMoveStart)="zooming($event)"
          (ionKnobMoveEnd)="zooming($event)"
          [min]="10" [max]="40" [value]="fontSize"
          [pin]="true" [snaps]="true" [pinFormatter]="pinFormatter">
          <ion-icon
            slot="start"
            size="small"
            color="secondary"
            name="text-outline">
          </ion-icon>
          <ion-icon
            slot="end"
            size="large"
            color="primary"
            name="text-outline">
          </ion-icon>
        </ion-range>
      </ng-template>
    </ion-modal>

    <ion-modal id="modal-color" trigger="open-color-dialog">
      <ng-template>
        <span [style.background]="'arrayColors[selectedColor]'"
          [cpToggle]="true"
          [cpDialogDisplay]="'inline'"
          [(colorPicker)]="arrayColors[selectedColor]"
          (colorPickerChange)="changeColor($event)">
        </span>
      </ng-template>
    </ion-modal>
  </ng-template>
</ion-modal>

<ion-modal
  trigger="open-favorites-modal"
  [initialBreakpoint]="0.25"
  handleBehavior="cycle"
  [breakpoints]="[0, 0.25, 0.5, 0.75]">

  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar>
        <ion-title>Favoritos</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Favoritos</ion-title>
        </ion-toolbar>
      </ion-header>

      <ng-container *ngIf="canticosStorage && canticosStorage.favorites.length; else noFavoritos">
        <ion-virtual-scroll [items]="canticosStorage.favorites">
          <ion-item-sliding
            *virtualItem="let cantico"
            (ionDrag)="removeInArrayStorage('favorites', cantico, 'numero', $event)"
            (click)="selected(cantico)">

            <ion-item
              style="
                border-right: 5px solid var(--ion-color-danger);
                border-radius: 14px;
                margin-bottom: 2px;"
              lines="inset"
              detail="true"
              detail-icon="add-outline">

              <ion-chip
                slot="start"
                color="success"
                [outline]="true">
                  {{ cantico.numero }}
              </ion-chip>

              <ion-label>
                <h2>{{ cantico.titulo }}</h2>
                <div
                  class="description"
                  [innerHTML]="cantico.letra.slice(0, 60) + '...' | sanitizedHtml">
                </div>
              </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" expandable>
                <ion-text color="light">desfavoritar</ion-text>
                <ion-icon size="large" slot="end" color="light" name="heart-dislike-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-virtual-scroll>
      </ng-container>

      <ng-template #noFavoritos>
        <ion-grid class="message-logo">
          <ion-row class="ion-padding">
            <img class="no-img" src="../../../assets/eading_time.svg" alt="logo">
          </ion-row>
          <ion-row class="ion-padding">
            <ion-text color="medium">
              <small>ainda não foram adicionados cânticos aos favoritos</small>
            </ion-text>
          </ion-row>
        </ion-grid>
      </ng-template>

    </ion-content>
  </ng-template>
</ion-modal>
