ion-virtual-scroll {
  ion-label {
    h3 {
      white-space: pre-wrap;
      font-size: 14px;
      text-transform: capitalize;
    }
  }

  ion-thumbnail {
    img {
      border-radius: 4px;
    }
  }

}

ion-card {
  ion-card-title {
    text-transform: capitalize;
  }

  img {
  }
}

ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-modal ion-content {

  .item-text {
    padding: 15px 0;
  }

  ion-item {

    h4 {
      font-size: 18px;
      text-transform: capitalize;
      color: var(--ion-color-primary);

      padding: 42px 0 0;
    }

    h5 {
      font-size: 14px;
      text-align: justify;
      font-style: italic;
      color: var(--ion-color-secondary);

      margin: 12px 10px;
    }

    div {
      text-align: justify;
    }
  }
}

