<ion-header [translucent]="false" mode="ios" class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>pastorais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pastorais$ && (pastorais$ | async)?.length"
  [fullscreen]="true"
  [scrollEvents]="true"
  color="medium"
  (ionScroll)="handleScroll($any($event))">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#00B096" fill-opacity="1" d="M0,288L80,266.7C160,245,320,203,480,160C640,117,800,75,960,90.7C1120,107,1280,181,1360,218.7L1440,256L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg>

    <ion-grid class="ion-no-padding">
      <ion-row class="pastoral-row">
        <ion-col *ngFor="let pastoral of (pastorais$ | async)" size="6">
          <ion-card lines="none" class="ion-no-padding" button (click)="openModal(pastoral)">
            <img [src]="pastoral.imgURL">

            <section>
              <h5 class="ion-text-uppercase">{{ pastoral.titulo }}</h5>
              <ion-note>{{ pastoral.autor }}</ion-note>
            </section>
            <div id="grad1"></div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!isScrollTop">
      <ion-fab-button (click)="scrollToTop()" color="tertiary">
        <ion-icon name="chevron-up-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>


<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header [translucent]="false" class="ion-no-border header-modal-open">
      <img [src]="pastoral.imgURL" [alt]="pastoral.titulo">
      <div id="grad1"></div>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button size="small" fill="clear" (click)="toggleModal()">
            <ion-icon color="light" name="arrow-back-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="presentActionSheet(pastoral)">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-text color="light">
          <p class="ion-margin-start ion-no-margin">{{ pastoral.titulo.toUpperCase() }}</p>
        </ion-text>
      </ion-toolbar>
      <ion-toolbar class="ion-text-justify">
        <ion-note class="ion-margin-start ion-no-margin" color="light">{{  pastoral.destaque }}</ion-note>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="ion-padding">
      <ion-text [innerHtml]="pastoral.descricao | sanitizedHtml"></ion-text>
    </ion-content>
  </ng-template>
</ion-modal>
