.devocional-row {
  margin-top: -80px;
}

ion-card {
  height: 100px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 40%);
  border-radius: 14px;

  #grad1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.8));
  }
}

img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 14px;
}

section {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px;
  z-index: 99;

  h5 {
    font-size: 12px;
    margin: 0;
    color: var(--ion-color-light);
  }

  ion-note {
    color: var(--ion-color-light);
    font-size: 10px;
  }
}

ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

.social-row {
  padding: 40px 60px 80px;
  background-color: var(--ion-color-primary-contrast);
}

.map-row {
  background-color: var(--ion-color-primary-contrast);
}

.header-modal-open {
  ion-toolbar {
    --background: transparent;
  }

  .toolbar-destaque {
    padding: 15px;

    ion-note {
      font-size: 11px;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    height: 100%;
  }

  #grad1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,transparent,rgba(0, 0, 0, 1));
  }
}
